.dark-theme {
  --text-default: #fefefe;
  --text-dimmed: #AEAEAE;
  --text-primary: #3996ec;
  --text-link: #3996ec;
  --text-disabled: #616161;
  --text-error: #FF3B30;
  --text-sensitive: #89BCC3;
  --text-warning: #FFD541;
  --bg-default: #212121;
  --bg-grey: #323232;
  --textfield-bg-primary: #09355d;
  --textfield-bg-error: #6B000070;
  --textfield-bg-sensitive: #26768150;
  --textfield-border-error: #FF3B30;
  --textfield-border-primary: #3996ec;
  --textfield-border-default: #a2cef650;
  --textfield-border-bright: #AEAEAE;
  --textfield-border-sensitive: #65A8B1;
  --dropdown-base-default: #323232;
  --dropdown-base-highlight: #73b5f220;
  --dropdown-idle: [object Object];
  --dropdown-border-hint: #424242;
  --dropdown-hover: [object Object];
  --button-base-primary: #3996ec;
  --button-base-hover: #459CED;
  --button-base-light: #09355d;
  --button-base-sensitive: #65A8B1;
  --button-base-destructive: #323232;
  --button-base-quiet: #323232;
  --button-base-primary-disabled: #323232;
  --button-base-destructive-disabled: #323232;
  --button-base-secondary-disabled: #323232;
  --button-text-primary-inverts: #ffffff;
  --button-text-white: #ffffff;
  --button-text-primary-stable: #3996ec;
  --button-text-quiet: #3996ec;
  --button-text-destructive: #FF3B30;
  --button-idle: [object Object];
  --button-hover: [object Object];
  --button-border-primary: #3996ec;
  --button-border-disabled: #0d4f8c;
  --button-border-quiet: #D1D1D1;
  --tag-base-default: #323232;
  --tag-text-default: #fefefe;
  --tag-border-default: #616161;
  --code-block-background: #0d4f8c80;
  --tab-bg: #171717;
  --tab-active: #323232;
  --paging-on: #65A8B1;
  --paging-off: #21373A;
  --separator-default: #616161;
  --card-bg-error: #FF3B3020;
  --card-bg-default: #212121;
  --card-bg-light: #323232;
  --card-border-default: #616161;
  --icon-highlight-default: #73b5f220;
  --keyboard-background-default: #000;
  --keyboard-key-default: #646464;
  --keyboard-key-dimmed: #3F3F3F;
  --keyboard-separator-default: #3f3f3f;
}