.light-theme {
  --text-default: #212121;
  --text-dimmed: #616161;
  --text-primary: #3996ec;
  --text-link: #3996ec;
  --text-disabled: #61616170;
  --text-error: #FF3B30;
  --text-sensitive: #267681;
  --text-warning: #FFD541;
  --bg-default: #f5f5f5;
  --bg-grey: #ffffff;
  --textfield-bg-primary: #d0e6fb;
  --textfield-bg-error: #FF3B3030;
  --textfield-bg-sensitive: #DDECEE;
  --textfield-border-error: #FF3B30;
  --textfield-border-primary: #3996ec;
  --textfield-border-default: #a2cef650;
  --textfield-border-bright: #AEAEAE;
  --textfield-border-sensitive: #65A8B1;
  --dropdown-base-default: #f5f5f5;
  --dropdown-base-highlight: #E5E5E5;
  --dropdown-idle: [object Object];
  --dropdown-border-hint: #D1D1D1;
  --dropdown-hover: [object Object];
  --button-base-primary: #3996ec;
  --button-base-hover: #73b5f2;
  --button-base-light: #09355d;
  --button-base-sensitive: #65A8B1;
  --button-base-destructive: #ffffff;
  --button-base-quiet: #ffffff;
  --button-base-primary-disabled: #a2cef6;
  --button-base-sensitive-disabled: #AACFD4;
  --button-text-primary-inverts: #ffffff;
  --button-text-white: #ffffff;
  --button-text-primary-stable: #3996ec;
  --button-text-quiet: #323232;
  --button-text-disabled: #3996ec70;
  --button-text-destructive: #FF3B30;
  --button-idle: [object Object];
  --button-hover: [object Object];
  --button-border-primary: #3996ec;
  --button-border-disabled: #0d4f8c;
  --button-border-quiet: #D1D1D1;
  --tag-base-default: #041a2f;
  --tag-text-default: #212121;
  --tag-border-default: #424242;
  --code-block-background: #0d4f8c80;
  --tab-bg: #E5E5E5;
  --tab-active: #ffffff;
  --paging-on: #65A8B1;
  --paging-off: #DDECEE;
  --separator-default: #D1D1D1;
  --card-bg-error: #FF3B3020;
  --card-bg-default: #f5f5f5;
  --card-bg-light: #ffffff;
  --card-border-default: #D1D1D1;
  --keyboard-background-default: #CED2D9;
  --keyboard-key-default: #ffffff;
  --keyboard-key-dimmed: #AEB3BE;
  --keyboard-separator-default: #aeb3be;
}